.image-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 10px;
}

.link-form {
  width: 65vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  padding: 15px;
  border-radius: 10px;

  background-color: rgba(0, 0, 0, 0.25);
  background-image: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 35px,
    rgba(255, 255, 255, 0.5) 35px,
    rgba(255, 255, 255, 0.5) 70px
  );
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.input-title {
  color: #fff;
  font-weight: bold;
  cursor: default;
}

.input-field,
.input-btn {
  margin: 0 5px;
  outline: none;
  color: #006eff;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.8);

  border: 2px solid #006eff;
  border-radius: 5px;
  text-align: center;
  backdrop-filter: blur(3px);
}

.input-field::placeholder {
  color: #006eff;
}

.input-btn {
  opacity: 0.5;
  transition: all linear 0.3s;
}

.input-btn:hover {
  opacity: 1;
}

@media screen and (max-width: 850px) {
  .link-form {
    width: 75vw;
  }
}

@media screen and (max-width: 500px) {
  .link-form {
    width: 85vw;
  }
}
