.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #4f14f2 inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}

.bounding-box:hover {
  background-color: rgba(97, 39, 255, 0.25);
}
