@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");

* {
  outline: none;
}

html,
body,
input,
button,
::placeholder {
  font-family: "Space Grotesk", Courier, monospace, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  font-size: 100%;
  scroll-behavior: smooth;
  padding: 5px;
}

body {
  margin: 0;
  background: linear-gradient(89deg, #553d8d 0%, #006eff 100%);
}

button {
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 100px #006eff inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #fff !important;
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 85%;
  }
}

@media screen and (max-width: 750px) {
  html {
    font-size: 75%;
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 65%;
  }
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, #1f5cd5, #4f4196);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 3px;
}
